/* Typography */

h1, h2, h3, h4, h5, h6,
a, p, i, span, button, small,
ul, li, hr {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

h2 {
  font-size: 3em;
  font-weight: 200;
}
h3 { font-size: 2em; }
h4 {
  font-size: 1.5em;
  font-weight: 500;
}

small { font-size: 90%; }
